<div class="container">

    <h3>Médicos</h3>

    <button type="button" [routerLink]="'/doctor/create'" class="btn btn-primary mb-1 mt-3 float-right">Cadastrar médico</button>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="text-center">
            <th scope="col">Nome</th>
            <th scope="col">CRM</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let doctor of doctors">
                <td scope="row">{{doctor.nome}}</td>
                <td scope="row">{{doctor.crm}}</td>
            </tr>
        </tbody>
    </table>
</div>
