<div class="container">

    <h3>Consultas</h3>

    <button type="button" [routerLink]="'/appointment'" class="btn btn-primary mb-1 mt-3 float-right">Agendar consulta</button>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="text-center">
            <th scope="col">Consulta</th>
            <th scope="col">Médico</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let appointment of appointments">
                <td scope="row">{{appointment.id}}</td>
                <td scope="row">{{appointment.doctorResponse.nome}} - {{appointment.doctorResponse.crm}}</td>
            </tr>
        </tbody>
    </table>
</div>
